<h1>catalogue.com</h1>
<h2>Design Discovery</h2>
<h3>Current home furnishings e-commerce websites were built around a basic framework, most tending towards the utilitarian, leaving much to be desired from the shopping experience. Our goal is to revolutionize the way people shop for furniture and home decor by incorporating professionally-curated design online.  We provide richer browsing and more informed shopping experiences for consumers, coupled with better reach and economics for designers and manufacturers.	</h3>

